/* Ini File CSS */
main {
    display: flex ;
    gap: 64px;
    padding: 32px;
    background-color:hsl(196, 100%, 86%);
    position:relative;
    font-family: arial;
    text-shadow: 1px black;
    font-family:sans-serif;
    
}

.main-header {
    text-align: center;
    background-color: rgb(38, 38, 189);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
    font-family:sans-serif;
}

footer {
    text-align: center;
    background-color: rgb(38, 38, 189);
    padding-bottom: 32px;
    color:white;
    font-size: 30px;
    font-family:sans-serif;
}

input[type=number]{
    width: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

form {
    background-color:#4a4aff;
    padding: 32px;
    color:white;
}

button {
    border: none;
    padding: 8px;
    background-color: cadetblue;
    color: white;
}

.bg-black{
    background-color: black;
}

.bg-cadet-blue{
    background-color: cadetblue;
}

.result-section{
    padding: 16px;
    text-align: center;
    background-color: #4a4aff;
    color: white;
}

#result-bmi {
    font-size: xxx-large;
    font-family: math;
}

